.desktop {
  --color: #ffffffd8;
  --color-counter: #121212;
  --gradient-main: linear-gradient(108deg, rgba(25, 38, 71, 1.00) 0%, rgba(25, 27, 31, 0.25) 20%, rgba(0, 68, 245, 0.00) 54%, rgba(19, 73, 211, 0.20) 81%, rgba(0, 0, 0, 0.00) 100%);
  --border-color: #2a2a2a;

  background-position: center center;
  --gradient-secondary: background-image: linear-gradient(182deg, rgba(48, 65, 109, 1.00) 0%, rgba(0, 68, 245, 0.00) 43%, rgba(0, 0, 0, 0.00) 87%);
  background-position: center center;
  align-items: flex-start;
  background-color: #020015;
  color: var(--color);
  gap: 10px;
  position: relative;
  width: 100%;
}

.desktop .main {
  position: relative;
  padding: 1% 5% 1% 5%;
}

/* Main Containers finish */

a{
  text-decoration: none;
  color:unset;
}

/* Default Element Styles finish */

.clickable{
  color:inherit;
}

.clickable:hover{
  color: #ffffff !important;
}

/* Custom Elements finish */

.desktop .text-small {
  font-size: 1vw;
}

.desktop .text-medium {
  font-size: 1.5vw;
}

.desktop .text-large {
  font-size: 3vw;
}

/* Text sizes finish */

.desktop .navigation-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.desktop .frame-nav-l {
  display: flex;
  flex:1;
  flex-basis: 50%;
  align-content: center;
  justify-content: start;
  padding: 1rem 0 1rem 0;
}

.desktop .frame-logo {
  display: flex;
  flex: 0;
  flex-basis: 10rem;
  align-content: center;
  justify-content: center;

  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.50);
  color: #ffc;
  border-radius: 30px;
  width: 25%;
  overflow: hidden;
  position: relative;
  padding-bottom: .5%;
}

.desktop .text-wrapper {
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.desktop .frame-nav-r {
  display: flex;
  flex:1;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  opacity: .5;
}

.desktop .frame-nav-r ul{
  display: flex;
  flex:1;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  filter: blur(0px);
}

.desktop .frame-nav-r li{
  filter: blur(0px);
  transition: .5s;
}

.desktop .frame-nav-r ul:hover li:not(:hover){
  filter: blur(4px);
  transition: .5s;
}

.desktop .frame-nav-r ul li:hover{
  filter: blur(0px);
  transition: .5s;
}

.desktop .buttons-navbar {
  font-family: "Michroma", Helvetica;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

/* Navbar finish */

.desktop .hero {
  /* align-items: flex-start; */
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 8px;
}

.desktop .frame-hero {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 8px;
  position: relative;
  min-width: 100%;
  max-width: 100%;

}

.desktop .hero-top-left {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: start;
  justify-items: space-between;
  border-radius: 40px;
  gap: 1rem;
  overflow: hidden;
  position: relative;
  height: calc(90vh + .6rem);
  border-bottom: 1px solid var(--border-color)
}

.desktop .frame-name {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  max-height: 60%;
  position: relative;
  background-image: var(--gradient-main);
  width: 100%;
  background-size: 200% 200%;
  animation: animation-gradient 20s linear infinite;
}

.image-name {
  position: absolute;
  width: 90%;
  top: 5rem;
  z-index: 1;
  animation: animation-image-name-start 1.5s linear;
}

@keyframes animation-image-name-start {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}

.desktop .image-overlay {
  z-index: 2;
  position: relative;
  height: 150rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.desktop .title {
  font-family: "Montserrat", Helvetica;
  display: flex;
  flex: 0 1 auto;
  align-self: center;
  justify-self: center;
  justify-content: flex-start;
  color: var(--color);
  font-size: 150%;
  border-bottom: 1px solid var(--color);
  width: 100%;
  line-height: normal;
  padding: 0 1rem 1rem 1rem;
}

.desktop .description {
  font-family: "Montserrat", Helvetica;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  font-size: large;
  align-items: start;
  justify-content: start;
  position: relative;
  width: 100%;
  line-height: normal;
  height: 15%;
  overflow: clip;
  padding: 0 1rem 1rem 1rem;
}

.desktop .description-text{
  display: flex;
  flex: 0;
  word-wrap: normal;
  padding: .25rem 0 .25rem 0;
}

.desktop .frame-arrow {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.desktop .button-arrow {
  display: flex;
  flex: 1 1 4rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color);
  color: var(--color-counter);
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  width: 4rem;
}

.desktop .text-arrow {
  font-family: "Michroma", Helvetica;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Top Left Hero finish */

.desktop .hero-top-right {
  display: flex;
  align-items: center;
  border-radius: 40px;
  flex-direction: column;
  gap: 5rem;
  overflow: hidden;
  position: relative;
  height: 80vh;
  width: 50%;
  scroll-snap-align: start;
}

.desktop .frame-projects {
  background-image: var(--gradient-main);
  background-size: 200% 200%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 1rem;
  animation: animation-gradient 20s linear infinite;
}
@keyframes animation-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.desktop .projects-header {
  align-items: center;
  justify-content: space-around;
  display: flex;
  position: relative;
  width: 100%;
  margin: 2.5% 0 0 0;
  font-family: "Montserrat", Helvetica;
}

.desktop .projects-header-text-left {
  color: #ffffffcc;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.desktop .projects-header-text-right {
  color: #ffffff80;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.desktop .frame-image-projects {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 40px;
  min-height: 10rem;
  height: 70%;
  position: relative;
  width: 90%;
  overflow: scroll;
  overscroll-behavior: none;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.frame-image-projects::-webkit-scrollbar{
  display: none;
}


.desktop .frame-image-projects-2{
  height: 100%;
  width: 100%;

}

.desktop .image-projects{
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 1%;
  scroll-snap-align: start;
  animation: animation-project-info-toggle linear .4s;
}

.desktop .project-info {
  width: 100%;
  height: 100%;
  animation: animation-project-info-toggle linear .4s;
}

@keyframes animation-project-info-toggle {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.project-info h1 {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
  letter-spacing: .25rem;
  scroll-snap-align: start;
}



.desktop .project-info h2 {
  font-family: 'Montserrat';
  justify-content: flex-start;
  padding: 2.5%;
  font-weight: 500;
  scroll-snap-align: start;

}

.desktop .project-info p,
.desktop .project-info ul {
  font-family: 'Montserrat';
  justify-content: flex-start;
  padding: 4rem;
  font-weight: 400;
  letter-spacing: .15rem;
  word-spacing: normal;
  line-height: normal;
  list-style-type: square;
}

.desktop .blinkingCursor {
  opacity: 1;
  user-select: none;
  animation: animation-blinkingCursor steps(2) 1s infinite;
}

@keyframes animation-blinkingCursor {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.desktop .marquee-projects {
  --gap: 1rem;
  gap: var(--gap);
  align-items: center;
  border: 1px solid;
  border-color: var(--color);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 50%;
  max-height: 2rem;
  margin-bottom: 5%;
  padding: 0;
}

.desktop .marquee-projects-text {
  display: flex;
  flex-shrink: 0;
  justify-content: start;
  gap: var(--gap);
  font-family: "Montserrat", Helvetica;
  font-size: 1.5rem;
  font-weight: 900;
  animation: scroll 5s linear infinite;
  user-select: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee-projects:hover li:hover, .marquee-projects li{
  filter: blur(0px);
  transition: 0.5s;
}

.marquee-projects:hover li:not(:hover){
  filter: blur(4px);
  transition: 0.5s;
}


/* Top Right Hero finish */

.desktop .hero-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 8px;
  height: 40vh;
  width: 100%;
}

.desktop .card {
  border: 1px solid var(--border-color);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.desktop .card-header {
  padding: 1rem;
  color: var(--color);
  font-family: "Michroma", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  max-height: 50%;
  overflow: hidden;
  z-index: 5;
}

.desktop .card-paragraph {
  padding: 1rem;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.card-image,
.card-image2,
.card-icon {
  padding: 0;
  position: absolute;
  right: -10%;
  width: 10vw;
  height: 10vh;
  overflow: hidden;
  letter-spacing: 0;
  text-align: center;
  /* for unicode icon */
  color: #170D59;
  font-family: "Montserrat", Helvetica;
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
}

.card-icon {
  padding: 2.5% 5% 0 0;
  z-index: 3;
}

.card-image {
  z-index: 1;
  padding: 1rem;
  animation: card-animation-image-effect 10s infinite linear;
}

.card-image2 {
  padding: 1rem;
  z-index: 2;
}


@keyframes card-animation-image-effect {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    transform: scale(10rem);
    opacity: 0.25;

  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes card-animation-unicode-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Hero Bottom finish */

.desktop .frame-bottom {
  display: flex;
  gap: 8px;
  position: relative;
  height: 70vh;
}

.desktop .applet-section {
  align-self: start;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 25rem;
  min-width: 50%;
}

.desktop .holder {
  height: 25rem;
  width: 100%;
  background-image: var(--gradient-main);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.desktop .applet-text {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.desktop .change-the-world {
  color: var(--color);
  font-family: "Michroma", Helvetica;
  font-size: 3.5vw;
  font-weight: 400;
  position: relative;
}

.desktop .applet-icon {
  color: var(--color);
  font-family: "Montserrat", Helvetica;
  font-size: 200px;
  font-weight: 500;
  left: -1rem;
  top: -9rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  transform: rotate(62.57deg);
}

.desktop .blog-section {
  align-self: flex-end;
  align-items: center;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  height: 25rem;
  min-width: 50%;
}

.desktop .holder-2 {
  align-items: center;
  background-image: var(--gradient-main);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.desktop .text-wrapper-11 {
  color: #132453;
  font-family: "Michroma", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -3px;
  line-height: normal;
  align-self: center;
  margin-top: -10rem;
  position: relative;
  transform: rotate(90deg);
  width: 50%;
  max-height: 20rem;
}

.desktop .frame-blur {
  -webkit-backdrop-filter: blur(8px) brightness(2);
  align-items: center;
  backdrop-filter: blur(4px) brightness(2);
  background-image: var(--gradient-secondary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.desktop .blog-header {
  color: var(--color);
  font-family: "Michroma", Helvetica;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  text-align: center;
}

.desktop .frame-tech-marquee {
  border-radius: 30px;
  height: 100%;
  min-height: 5rem;
  position: relative;
  width: 100%;
}

.desktop .footer {
  border: 1px solid;
  border-color: var(--color);
  border-radius: 30px;
  height: 100%;
  min-height: 5rem;
  position: relative;
  width: 100%;
}